/* Page */
.page_container {
  background: #f1f1f1;
  min-height: calc(100vh - 130px);
  overflow: visible !important;
}

.page_panel {
  padding-top: 60px;
  padding-bottom: 40px;
}
/* Page */

/* Textarea */
textarea {
  resize: none;
}

.inner_textarea_container {
  position: relative;
  -webkit-text-size-adjust: none
}

.textarea_placeholder_text {
  display: block;
  position: absolute;
  text-align: left;
  cursor: text;
  pointer-events: none;
  top: 15px;
  left: 30px;
  right: 30px;
  color: #959595;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 24px;
}

.textarea_placeholder_text>span {
  font-size: 16px;
  line-height: 150%;
  top: .4em;
  position: relative;
  display: block
}
/* Textarea */

/* Checkbox */
.custom-checkbox .custom-control-label::before {
  border-radius: 0rem;
}

.checkbox_task_control input[type="checkbox"]:checked+label::after,
.checkbox_method_control input[type="checkbox"]:checked+label::after,
.checkbox_metric_control input[type="checkbox"]:checked+label::after,
.checkbox_material_control input[type="checkbox"]:checked+label::after,
.checkbox_other_control input[type="checkbox"]:checked+label::after,
.checkbox_generic_control input[type="checkbox"]:checked+label::after {
  color: #FFFFFF;
}

.checkbox_task_control input[type="checkbox"]:checked+label::before {
  background-color: #CEAA20;
  border-color: #CEAA20;
}

.checkbox_method_control input[type="checkbox"]:checked+label::before {
  background-color: #ACC91B;
  border-color: #ACC91B;
}

.checkbox_metric_control input[type="checkbox"]:checked+label::before {
  background-color: #40BE25;
  border-color: #40BE25;
}

.checkbox_material_control input[type="checkbox"]:checked+label::before {
  background-color: #13AC9D;
  border-color: #13AC9D;
}

.checkbox_other_control input[type="checkbox"]:checked+label::before {
  background-color: #136FAC;
  border-color: #136FAC;
}

.checkbox_generic_control input[type="checkbox"]:checked+label::before {
  background-color: #4742DF;
  border-color: #4742DF;
}

.custom-checkbox input[type="checkbox"]:not(:checked):hover+label::before {
  background-color: #CCCCCC;
}

/* .checkbox-color-per input[type="checkbox"]+label::before {
  background-color: #ffcdd2;
  border-color: #ffcdd2;
} */
/* Checkbox */

/* Selection */
::selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-moz-selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-webkit-selection {
  color: #ffffff;
  background-color: #dc3545;
}
/* Selection */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .banner {
    height: 100vh;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .textarea_placeholder_text {
    top: 22px;
    line-height: 20px;
    border-left: none;
    padding-right: 0;
    font-size: 20px
  }

  .textarea_placeholder_text>span {
    font-size: 16px
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .textarea_placeholder_text {
    left: 20px;
    right: 20px
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .textarea_placeholder_text {
    font-size: 26px
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .textarea_placeholder_text {
    font-size: 26px
  }
}