/* Variables */
:root {
  --type-checkbox-task-checked-color: #ef6b22;
  --type-checkbox-task-unchecked-color: #cb7648;
  --type-checkbox-method-checked-color: #ecc100;
  --type-checkbox-method-unchecked-color: #bca22f;
  --type-checkbox-metric-checked-color: #45b068;
  --type-checkbox-metric-unchecked-color: #629372;
  --type-checkbox-material-checked-color: #1882c5;
  --type-checkbox-material-unchecked-color: #487693;
  --type-checkbox-other-checked-color: #4c65ff;
  --type-checkbox-other-unchecked-color: #7985d2;
  --type-checkbox-generic-checked-color: #ee3768;
  --type-checkbox-generic-unchecked-color: #cd5676;
  --type-checkbox-overlap-color: #7e1b14;
  --type-checkbox-none-color: transparent;
}

/* Page */
.page_container {
  background: #f1f1f1;
  min-height: calc(100vh - 130px);
  overflow: visible !important;
}

.page_panel {
  padding-top: 60px;
  padding-bottom: 20px;
}

.page_introduction {
  padding-top: 20px;
  padding-bottom: 40px;
}

.page-footer,
.footer-copyright {
  background-color: #f1f1f1 !important;
}
/* Page */

/* Language & Translate */
.row_language {
  font-family: "Open Sans", sans-serif;
}

.language_col {
  position: relative;
}

.dropdown-item {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

#type_collapse_group .btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.type_checkbox_text.shortcut {
  display: none;
}
/* Language */

/* Checkbox */
.type_checkbox_group .form-check-input {
  visibility: hidden;
}

.type_checkbox_group .btn {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.25rem 0.8rem;
}

.type_checkbox_group .btn:focus,
.type_checkbox_group .btn.focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.type_checkbox_task {
  background-color: var(--type-checkbox-task-unchecked-color);
  border-color: var(--type-checkbox-task-unchecked-color);
}

.type_checkbox_task:focus,
.type_checkbox_task:active,
.type_checkbox_task.active {
  background-color: var(--type-checkbox-task-checked-color);
  border-color: var(--type-checkbox-task-checked-color);
}

.type_checkbox_method {
  background-color: var(--type-checkbox-method-unchecked-color);
  border-color: var(--type-checkbox-method-unchecked-color);
}

.type_checkbox_method:focus,
.type_checkbox_method:active,
.type_checkbox_method.active {
  background-color: var(--type-checkbox-method-checked-color);
  border-color: var(--type-checkbox-method-checked-color);
}

.type_checkbox_metric {
  background-color: var(--type-checkbox-metric-unchecked-color);
  border-color: var(--type-checkbox-metric-unchecked-color);
}

.type_checkbox_metric:focus,
.type_checkbox_metric:active,
.type_checkbox_metric.active {
  background-color: var(--type-checkbox-metric-checked-color);
  border-color: var(--type-checkbox-metric-checked-color);
}

.type_checkbox_material {
  background-color: var(--type-checkbox-material-unchecked-color);
  border-color: var(--type-checkbox-material-unchecked-color);
}

.type_checkbox_material:focus,
.type_checkbox_material:active,
.type_checkbox_material.active {
  background-color: var(--type-checkbox-material-checked-color);
  border-color: var(--type-checkbox-material-checked-color);
}

.type_checkbox_other {
  background-color: var(--type-checkbox-other-unchecked-color);
  border-color: var(--type-checkbox-other-unchecked-color);
}

.type_checkbox_other:focus,
.type_checkbox_other:active,
.type_checkbox_other.active {
  background-color: var(--type-checkbox-other-checked-color);
  border-color: var(--type-checkbox-other-checked-color);
}

.type_checkbox_generic {
  background-color: var(--type-checkbox-generic-unchecked-color);
  border-color: var(--type-checkbox-generic-unchecked-color);
}

.type_checkbox_generic:focus,
.type_checkbox_generic:active,
.type_checkbox_generic.active {
  background-color: var(--type-checkbox-generic-checked-color);
  border-color: var(--type-checkbox-generic-checked-color);
}
/* Checkbox */

/* Textarea */
.row_recognizer textarea {
	height: 100%;
}

textarea {
  padding: 0.65rem 0.75rem 50px !important;
  resize: none;
}

#target_texarea p {
  margin-bottom: 1.0rem;
  font-size: 0.9rem;
  line-height: 2.0;
}

.badge {
  color: #222222 !important;
  padding: 0.4em .4em;
  font-size: 90%;
}

.badge.overlap {
  color: #dddddd !important;
  background-color: var(--type-checkbox-task-checked-color);
}

.inner_textarea_container {
  position: relative;
  -webkit-text-size-adjust: none
}

.textarea_placeholder_text {
  display: block;
  position: absolute;
  text-align: left;
  cursor: text;
  pointer-events: none;
  top: 10px;
  left: 30px;
  right: 30px;
  color: #959595;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 24px;
}

.textarea_placeholder_text>span {
  font-size: 16px;
  line-height: 150%;
  top: .4em;
  position: relative;
  display: block
}
/* Textarea */

/* Panel */
.inner_textarea_container .card.target_card {
  height: 100%;
  background-color: #e9ecef;
}

.target_card_body {
  padding: 0.65rem 0.75rem !important;
}
/* Panel */

/* Widgets */
.textarea_upload_text {
  display: block;
  position: absolute;
  text-align: left;
  cursor: text;
  bottom: 15px;
  left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 15px;
}

.textarea_export_text {
  display: block;
  position: absolute;
  text-align: right;
  cursor: text;
  bottom: 15px;
  right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 15px;
}

.textarea_statistic_text {
  display: block;
  position: absolute;
  text-align: right;
  cursor: text;
  pointer-events: none;
  bottom: 15px;
  right: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 15px;
}
/* Widgets */

/* Selection */
::selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-moz-selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-webkit-selection {
  color: #ffffff;
  background-color: #dc3545;
}
/* Selection */

/* Spinner */
.spinner-border-sm {
  width: 0.9rem;
  height: 0.9rem;
}
/* Spinner */

/* Color */
.type-color-task {
  background-color: var(--type-checkbox-task-checked-color);
}

.type-color-method {
  background-color: var(--type-checkbox-method-checked-color);
}

.type-color-metric {
  background-color: var(--type-checkbox-metric-checked-color);
}

.type-color-material {
  background-color: var(--type-checkbox-material-checked-color);
}

.type-color-other {
  background-color: var(--type-checkbox-other-checked-color);
}

.type-color-generic {
  background-color: var(--type-checkbox-generic-checked-color);
}

.type-color-overlap {
  background-color: var(--type-checkbox-overlap-color) !important;
}

.type-color-none {
  background-color: transparent;
}
/* Color */

/* Extra small devices (portrait phones, less than 500px) */
@media (max-width: 499.98px) {
  .type_checkbox_text.shortcut {
    display: block;
  }
  .type_checkbox_text.verbose {
    display: none;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container.page_panel {
    padding-left: 0;
    padding-right: 0;
  }

  .row_language {
    padding-left: 15px;
    padding-right: 15px;
  }

  .inner_textarea_container .form-control {
    border: none;
    border-radius: 0;
  }

  #target_textarea_container {
    margin-top: 1px;
    margin-bottom: 30px;
    min-height: 300px;
  }

  .card.target_card {
    padding-bottom: 25px;
    border: none;
    border-radius: 0;
  }

  #type_inline_group {
    display: none;
  }

  #language_select_dropmenu,#query_button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #target_textarea_container {
    margin-top: 15px;
    margin-bottom: 30px;
    min-height: 300px;
  }

  .card.target_card {
    padding-bottom: 25px;
  }

  #type_inline_group {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #type_inline_group {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .textarea_placeholder_text {
    font-size: 26px;
  }

  #type_collapse_group {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .textarea_placeholder_text {
    font-size: 26px;
  }

  #type_collapse_group {
    display: none;
  }
}