/* Variables */
:root {
  --type-checkbox-task-checked-color: #FFBF33;
  --type-checkbox-task-unchecked-color: #FFE084;
  --type-checkbox-method-checked-color: #B1BA24;
  --type-checkbox-method-unchecked-color: #E4EA78;
  --type-checkbox-metric-checked-color: #51C521;
  --type-checkbox-metric-unchecked-color: #A9ED76;
  --type-checkbox-material-checked-color: #1B9D96;
  --type-checkbox-material-unchecked-color: #71E1C7;
  --type-checkbox-other-checked-color: #1D6EB8;
  --type-checkbox-other-unchecked-color: #71BBE7;
  --type-checkbox-generic-checked-color: #AA52E5;
  --type-checkbox-generic-unchecked-color: #DC97F7;
}

/* Page */
.page_container {
  background: #f1f1f1;
  min-height: calc(100vh - 130px);
  overflow: visible !important;
}

.page_panel {
  padding-top: 60px;
  padding-bottom: 20px;
}

.page_introduction {
  padding-top: 20px;
  padding-bottom: 40px;
}

.page-footer,
.footer-copyright {
  background-color: #f1f1f1 !important;
}
/* Page */

/* Language & Translate */
#language_select_dropmenu {
  font-family: "Open Sans", sans-serif;
}

.dropdown-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Open Sans", sans-serif;
}

/* Language */

/* Checkbox */
.type_checkbox_group .form-check-input {
  visibility: hidden;
}

.type_checkbox_group .btn {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.25rem 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.type_checkbox_group .btn:focus,
.type_checkbox_group .btn.focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.type_checkbox_task {
  background-color: var(--type-checkbox-task-unchecked-color);
  border-color: var(--type-checkbox-task-unchecked-color);
}

.type_checkbox_task:focus,
.type_checkbox_task:active,
.type_checkbox_task.active {
  background-color: var(--type-checkbox-task-checked-color);
  border-color: var(--type-checkbox-task-checked-color);
}

.type_checkbox_method {
  background-color: var(--type-checkbox-method-unchecked-color);
  border-color: var(--type-checkbox-method-unchecked-color);
}

.type_checkbox_method:focus,
.type_checkbox_method:active,
.type_checkbox_method.active {
  background-color: var(--type-checkbox-method-checked-color);
  border-color: var(--type-checkbox-method-checked-color);
}

.type_checkbox_metric {
  background-color: var(--type-checkbox-metric-unchecked-color);
  border-color: var(--type-checkbox-metric-unchecked-color);
}

.type_checkbox_metric:focus,
.type_checkbox_metric:active,
.type_checkbox_metric.active {
  background-color: var(--type-checkbox-metric-checked-color);
  border-color: var(--type-checkbox-metric-checked-color);
}

.type_checkbox_material {
  background-color: var(--type-checkbox-material-unchecked-color);
  border-color: var(--type-checkbox-material-unchecked-color);
}

.type_checkbox_material:focus,
.type_checkbox_material:active,
.type_checkbox_material.active {
  background-color: var(--type-checkbox-material-checked-color);
  border-color: var(--type-checkbox-material-checked-color);
}

.type_checkbox_other {
  background-color: var(--type-checkbox-other-unchecked-color);
  border-color: var(--type-checkbox-other-unchecked-color);
}

.type_checkbox_other:focus,
.type_checkbox_other:active,
.type_checkbox_other.active {
  background-color: var(--type-checkbox-other-checked-color);
  border-color: var(--type-checkbox-other-checked-color);
}

.type_checkbox_generic {
  background-color: var(--type-checkbox-generic-unchecked-color);
  border-color: var(--type-checkbox-generic-unchecked-color);
}

.type_checkbox_generic:focus,
.type_checkbox_generic:active,
.type_checkbox_generic.active {
  background-color: var(--type-checkbox-generic-checked-color);
  border-color: var(--type-checkbox-generic-checked-color);
}
/* Checkbox */

/* Textarea */
.row_recognizer textarea {
  resize: none;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.inner_textarea_container {
  position: relative;
  -webkit-text-size-adjust: none
}

.textarea_placeholder_text {
  display: block;
  position: absolute;
  text-align: left;
  cursor: text;
  pointer-events: none;
  top: 10px;
  left: 30px;
  right: 30px;
  color: #959595;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 24px;
}

.textarea_placeholder_text>span {
  font-size: 16px;
  line-height: 150%;
  top: .4em;
  position: relative;
  display: block
}
/* Textarea */

/* Upload Document */
.textarea_upload_text {
  display: block;
  position: absolute;
  text-align: left;
  cursor: text;
  bottom: 15px;
  left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 15px;
}
/* Statistic */

/* Statistic */
.textarea_statistic_text {
  display: block;
  position: absolute;
  text-align: right;
  cursor: text;
  pointer-events: none;
  bottom: 15px;
  right: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  font-size: 15px;
}
/* Statistic */

/* Selection */
::selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-moz-selection {
  color: #ffffff;
  background-color: #dc3545;
}

::-webkit-selection {
  color: #ffffff;
  background-color: #dc3545;
}

/* Selection */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .banner {
    height: 100vh;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .textarea_placeholder_text {
    top: 22px;
    line-height: 20px;
    border-left: none;
    padding-right: 0;
    font-size: 20px
  }

  .textarea_placeholder_text>span {
    font-size: 16px
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .textarea_placeholder_text {
    left: 20px;
    right: 20px
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .textarea_placeholder_text {
    font-size: 26px
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .textarea_placeholder_text {
    font-size: 26px
  }
}